<!DOCTYPE html>
{% extends 'orders/base.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

{% block content %}

<div class="col-xl-6 mx-auto">
    <div class="card">
        <div class="card-body p-4">
            <h5 class="mb-4">Создание нового заказа</h5>
            <form class="row g-3" method="post">
                <div> {{form.not_field_errors}}</div>
                {% csrf_token %}
                {% for f in form %}
                <div class="col-md-12">
                    <label for="input1" class="form-label">{{f.label}}</label>
                    {{f}}
                    <div>{{f.errors}}</div>
                </div>
                {% endfor %}
                <div class="col-md-12">
                    <div class="d-md-flex d-grid align-items-center gap-3">
                        <button type="submit" class="btn btn-primary px-4">Submit</button>
                        <button type="reset" class="btn btn-light px-4">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<p>{{order.created_dt}}</p>
<p>{{order.client}}</p>
<p>{{order.device}}</p>
<p>{{order.order_description}}</p>
<p>{{order.order_status}}</p>
<p>{{order.price}}</p>

{% endblock %}
</body>
</html>