<!DOCTYPE html>
{% extends 'orders/base.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

{% block content %}

<div class="col-xl-6 mx-auto">
    <div class="card">
        <div class="card-body p-4">
            <h5 class="mb-4">Просмотр и редактирование заказа</h5>
            <h6 class="mb-4">Дата создания {{order.created_dt}}</h6>
            <form class="row g-3" method="post">
                <div> {{form.not_field_errors}}</div>
                {% csrf_token %}
                {% for f in form %}
                <div class="col-md-12">
                    <label for="input1" class="form-label">{{f.label}}</label>
                    {{f}}
                    <div>{{f.errors}}</div>
                </div>
                {% endfor %}
                <div class="col-md-12">
                    <div class="d-md-flex d-grid align-items-center gap-3">
                        <button type="submit" class="btn btn-primary px-4">Сохранить</button>
                        <button onclick="javascript:history.back()" type="reset" class="btn btn-light px-4">Назад</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>